h1 {
	color: #417d95;
	font-size: 40px;

}
.center {
	text-align: center;
}

#heading {
	color: #234a56;
	font-size: 25px;
}

#info {
	font-size: 18px;
	text-align: center	
}

.gradient {
  background-color: #89b9c5;
  background-image: linear-gradient(#dde7dc, #89b9c5);
  background: #dde7dc;
  background: linear-gradient(#dde7dc, #89b9c5);
}

img {
	height: 300px;
	width: 200px;
	float: right;
	padding: 50px;
	
}

div {
	padding: 100px;
	margin-left: 50px;
}
